<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869133353117-cl8cmhts43o7iljiapp4qjao9cdnauld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869133353117-cl8cmhts43o7iljiapp4qjao9cdnauld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869133353117-80fa5slbekni6l5ist03326b4bdbp56i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqAJjRSgxTeMsuFn79d1wccBR1IuLgpIA</string>
	<key>GCM_SENDER_ID</key>
	<string>869133353117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aasabie</string>
	<key>PROJECT_ID</key>
	<string>aasabie</string>
	<key>STORAGE_BUCKET</key>
	<string>aasabie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869133353117:ios:33b65952cea0600a595474</string>
</dict>
</plist>